<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
        <style>
            body {background-color: rgb(58, 102, 185); text-align: center; }
        </style>
    </head>
    <body>
        <form name="index" action="/paypal">
            <button type="submit">Pay Your Bill</button>
        </form>
    </body>
</html>